<div class="room-next-room">
  <div class="next-room-wrapper">
    <div class="next-room-info">
      <p class="label">Next Room</p>
      <h2 class="next-room-title">{{ page.metafields.custom.next_room_title }}</h2>
    </div>
    <div class="next-room-image">
      <a href="{{ page.metafields.custom.next_room_link }}" class="next-room-image-link">
        <img
          src="{{ page.metafields.custom.next_room_image | image_url: width: 600 }}"
          alt="{{ page.metafields.custom.next_room_title }}"
        >
      </a>
    </div>
  </div>
</div>

{{ 'room-next-room.css' | asset_url | stylesheet_tag }}
